body{
    background-color: black;
}
header .navegacao {
    text-align: center;
    padding: 7px;
    border: 3px solid;
    display: block;
    font-size: 20px;
    color: white;
    margin-top: 8px;
    margin-left: -8px;
    margin-right: auto;

}

header .navegacao a{
    color: whitesmoke;
    padding: inherit;
}

.cabecalho {
    margin-top: 15px;
    padding: 13px;
}

body .cabecalho h1{
    display: inline;
    font-family: fangsong;
    font-size: 39px;
    color: white;
    margin-top: 26px;
    margin-left: 435px;
    margin-right: 388px;
    width: 9em;
   
}

main .formulario{
    border: 2px solid;
    border-color: white;

}

main .formulario input{

}


main .formulario h2{
    text-align: center;
    color: white;
}

main .formulario label{
    color: white;
    margin-left: 23px;
}

main .form-add{
    margin-left: 30px;

}

main .form-add button{
    margin-left: 189px;

}

.link-foto{
    margin-left: 46px;


}

.preco{
    margin-left: 44px;
}

.quantidade{
    margin-left: -7px;

}